.header {
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .sider {
    background: #fff;
  }
  
  .content {
    background: #fff;
  }