.dashboardContainer {
  padding: 24px;
  display: flex;
  height: 100vh;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f2f5;
  margin-left: 200px; /* 调整这个值以匹配侧边栏的宽度 */
}

.header {
  background-color: #fff;
  padding: 16px 24px;
  display: flex;
  align-items: center;
}

.menuIcon {
  font-size: 20px;
  color: #3c4b64;
}

.userInfo {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.noticeBar {
  background-color: #fff;
  padding: 12px 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 4px solid #ffc107;
}

.editButton {
  background: none;
  border: none;
  color: #321fdb;
  cursor: pointer;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

.dashboard {
  padding: 24px;
  background-color: #f0f2f5;
}

.notice {
  background-color: #fff;
  padding: 12px 24px;
  margin-bottom: 24px;
  border-left: 4px solid #1890ff;
}

.statCard {
  height: 100%;
}

.statCard :global(.ant-card-body) {
  display: flex;
  align-items: center;
  height: 100%;
}

.statCard :global(.anticon) {
  font-size: 24px;
  margin-right: 16px;
  color: #321fdb;
}

.statInfo {
  flex: 1;
}

.statValue {
  font-size: 24px;
  font-weight: bold;
}

.statTitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.statBadge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #20c997;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 8px;
}

.admin {
  background-color: #ffc107; /* 改为黄色 */
  color: #ffffff; /* 改为黑色，以确保在黄色背景上可读 */
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}
