.dashboardContainer {
  padding: 24px;
  display: flex;
  height: 100vh;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f2f5;
  margin-left: 200px; /* 调整这个值以匹配侧边栏的宽度 */
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 24px;
}

.menuButton {
  display: none; /* 隐藏菜单按钮，因为我们已经有了固定的侧边栏 */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.userInfo {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.noticeBar {
  background-color: #fff;
  padding: 12px 24px;
  margin-bottom: 24px;
  border-left: 4px solid #ffc107;
}

.editButton {
  background: none;
  border: none;
  color: #321fdb;
  cursor: pointer;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

.dashboard {
  padding: 24px;
}

.notice {
  background-color: #fff;
  padding: 12px 24px;
  margin-bottom: 24px;
  border-left: 4px solid #1890ff;
}

.statCard {
  display: flex;
  align-items: center;
  position: relative;
}

.statCard :global(.ant-card-body) {
  display: flex;
  align-items: center;
  height: 100%;
}

.statIcon {
  font-size: 24px;
  margin-right: 16px;
  color: #321fdb;
}

.statInfo {
  flex: 1;
}

.statTitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.statValue {
  font-size: 24px;
  font-weight: bold;
}

.statBadge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #20c997;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 0 0 0 8px;
}
